*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

html{
    font-size: 62.5%;
}

.home{
    /* width: 100vw; */
    height: 100vh;
    background-image: url('../assets/img/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.header__navbar{
    /* background-color: red; */
    height: 15vh;
    width: 80vw;
    display: flex;
    margin: 0 auto;
}

.header__navbar_logo{
    width: 40vw;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    justify-content: center;
    align-content: center;
}

.header__navbar_logo a {
    height: 50px;
    width: 50px;
    place-items: center;
    margin-bottom: 20px;
    text-decoration: none;
}

.header__navbar_logo a h2{
    margin: 10px auto;
    color: white;
    font-size: 2.5rem;
}

.header__navbar_right{
    width: 60vw;
    margin: 25px 0;
    padding: 0 50px;
    font-size: 2.8rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
    gap: 20px;
}

.header__navbar_right a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 3px 1px black;
}

.header__navbar_right a:hover{
    /* color: #fddf7d; */
    border-bottom: 5px solid black;
}

.home__fondo{
    height: 75vh;
    width: 80vw;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 180px);
    justify-content: center;
}

.home__fondo__texto{
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.home__fondo__texto h1{
    margin: 30px 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 3.5rem;
    justify-items: center;
    align-items: center;
    text-shadow: 1px 1px 2px black;
}

.home__fondo__texto p{
    margin: 30px 20px ;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    font-size: 2.0rem;
    text-shadow: 1px 1px 2px black;
}

.home__fondo__image{
    background-image: url('../assets/icons/icon_home.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    align-content: center;
}

.aboutme{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, 180px);
}

.aboutme__titulo{
    grid-column: 1 / 2;
    grid-row:  1 / 3;
}

.aboutme .aboutme__titulo p{
    margin-top: 50px;
    font-size: 3.5rem;
    color: #006699;
}

.aboutme__titulo img{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 350px;
    height: 450px;
}

.aboutme_texto{
    grid-column: 2 / 5;
    grid-row:  2 / 4;
    justify-items: center;
    align-items: center;
}

.aboutme_texto p{
    margin: 10px 25px;
   font-size: 2.5rem; 
}

.aboutme__tecnologias{
    margin: 20px 35px;
    grid-column: 2 / 5;
    grid-row:  4 / 5;
}

.aboutme__tecnologias__text p{
    margin: 0 auto;
    font-weight: 500;
    font-size: 2.5rem;
}

.aboutme__tecnologias__image img{
    margin: 10px 10px;
    height: 80px;
    width: 80px;
}

.portfolio{
    width: 80vw;
    margin: 0 auto;
}

.portfolio__titulo{
    width: 350;
    height: 500;
    margin: 50px 0;
    font-size: 3.5rem;
    color: #006699;
}

.portfolio__post{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

.portfolio__post__portfolio{
    width: 100%;
    height: 350px;
    background-color: rgba(55, 172, 182, 0.587);
    border-radius: 40px;
    grid-column: 1 /3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
}

.portfolio__post__portfolio_image{
    grid-column: 1 / 2;
    text-align: center;
    margin: auto 0;
}

.portfolio__post__portfolio div img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 5px 10px 10px black;
}

.portfolio__post__portfolio_title{
    grid-column: 2 / 3;
    font-size: 2.5rem;
}

.portfolio__post__portfolio_title p{
    text-align: center;
    padding-top: 25px;
    font-size: 3.5rem;
    font-weight: 500;
}

.portfolio__post__portfolio_title a{
    margin: 10px 20px;
}

.portfolio__post__portfolio_title a i{
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
    margin: auto 0;
}

.portfolio__post__portfolio_title div{
    margin-top: 50px;
    text-align: center;
}

.portfolio__post__batatabit{
    width: 100%;
    height: 350px;
    background-color: rgba(55, 172, 182, 0.587);
    border-radius: 40px;
    grid-column: 1 /3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio__post__batatabit_image{
    grid-column: 1 / 2;
    text-align: center;
    margin: auto 0;
}

.portfolio__post__batatabit div img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 5px 10px 10px black;
      
}

.portfolio__post__batatabit_title{
    grid-column: 2 / 3;
    font-size: 2.5rem;
}

.portfolio__post__batatabit_title p{
    text-align: center;
    padding-top: 25px;
    font-size: 3.5rem;
    font-weight: 500;
}

.portfolio__post__batatabit_title a{
    margin: 10px 20px;
}

.portfolio__post__batatabit_title a i{
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 3.5rem;
    text-align: center;
    margin: auto 0;
}

.portfolio__post__batatabit_title div{
    margin-top: 50px;
    text-align: center;
}

.contact{
    width: 80vw;
    margin: 0 auto;
}

.contact__titulo{
    width: 350;
    height: 500;
    margin: 50px 0;
    font-size: 3.5rem;
    color: #006699;
}

.contact__icons{
    width: 80vw;
    height: 550px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.contact__icons div{
    margin: auto;
}

.contact__icons div a i{
    font-size: 8.5rem;
    color: black;
    background-color: white;
}

.footer{
    width: 100%;
    height: 80px;
    background-color: black;

}

.footer .footer__text{
    height: 50px;
    padding-top: 23px;
}

.footer .footer__text p{
    color: white;
    font-size: 2.5rem;
    text-align: center;
}


@media screen and (max-width:320px){

    .home{
        width: 320px;
        background-size:cover;
        background-position: -420px;
    }

    .header__navbar{
        width: 50px;
        height: 100%;
        margin-left: 25px;
    }

    .header__navbar_logo{
        display: flex;
        width: 150px;
    }

    .header__navbar_logo img{
        padding-top: 15px;
        width: 60px;
        height: 60px;
    }

    .header__navbar_logo a h2{
        padding-top: 15px;
        padding-right: 25px;
        font-size: 1.5rem;
        justify-content: start;
    }

    .header__navbar_right{
        display: none;
    }
    
    .home__fondo{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: none;
    }

    .home__fondo__texto{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    .home__fondo__texto h1{
        font-size: 2.3rem;
    }

    .home__fondo__image{
        grid-row: 2 / 3;
        grid-column: 1 / 1;
        width: 250px;
        height: 250px;
    }

    .aboutme{
        display: grid;
        grid-template-rows: repeat(3, 280px );
        grid-template-columns: none;
        padding-bottom: 150px;
    }

    .aboutme__titulo{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        text-align: center;
    }

    .aboutme__titulo img{
        width: 200px;
        height: 200px;
    }

    .aboutme_texto{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    .aboutme_texto p{
        font-size: 1.5rem;
    }

    .aboutme__tecnologias{
        padding-top: 45px;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .aboutme__tecnologias__image{
        width: 40px;
        height: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .portfolio__titulo{
        text-align: center;
    }

    .portfolio__post{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: none;

    }

    .portfolio__post__portfolio{
        width: 80vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: none;
    }

    .portfolio__post__portfolio div img{
        width: 180px;
        height: 180px;
    }

    .portfolio__post__portfolio_image{
        padding-top: 20px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .portfolio__post__portfolio_title{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .portfolio__post__portfolio_title div{
        margin: 0;
        height: 20px;
    }

    .portfolio__post__portfolio_title p{
        font-size: 1.2rem;
        font-weight: 700;
    }

    .portfolio__post__portfolio_title a i{
        font-size: 1.5rem;
    }

    .portfolio__post__batatabit{
        width: 80vw;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: none;
    }

    .portfolio__post__batatabit div img{
        width: 180px;
        height: 180px;
    }

    .portfolio__post__batatabit_image{
        padding-top: 20px;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .portfolio__post__batatabit_title{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .portfolio__post__batatabit_title div{
        margin: 0;
        height: 20px;
    }

    .portfolio__post__batatabit_title p{
        font-size: 1.2rem;
        font-weight: 700;
    }

    .portfolio__post__batatabit_title a i{
        font-size: 1.5rem;
    }

    .contact__titulo{
        text-align: center;
    }

    .contact__icons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 300px;
    }

    .contact__icons div a i{
        font-size: 5.5rem;
    }

    .footer .footer__text p{
        font-size: 1.3rem;
    }
}